[submodule "NuttX"]
	path = NuttX
	url = git@gitlab.com:airdog/nuttx.git
[submodule "uavcan"]
	path = uavcan
	url = git://github.com/pavel-kirienko/uavcan.git
[submodule "mavlink"]
	path = mavlink
	url = git@gitlab.com:airdog/mavlink.git
